.page1{
	background: blue;
}
.page2{
	background: red;
}
.page3{
	background: yellow;
}
.page4 {
  background: #AA22FF;
}
.page5 {
  background: #ff050e;
}
.page6 {
  background: #999999;
}
.page7 {
  background: #444400;
}
.page8 {
  background: #267DB7;
}
.page9 {
  background: #ffcc80;
}