body{font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;margin:0;padding:0;color:#333; background:#fff; position:relative;_overflow-x: hidden;overflow-x: hidden; }
div,img,h3,h4,p,dd,dl,em{margin: 0; padding: 0; border: 0;}
p{margin:0 auto;font-size: 8px;}
    body,
    p {
        margin: 0;
        padding: 0
    }
    
    p {
        font-size: 8px;
    }
    
    .shrink {

    }
ul,li{list-style:none;margin:0;padding:0}

form{margin:0}
a{text-decoration:none; outline:none;}
a:hover{ text-decoration:none;}
.contain{
	width: 100%;
	background: #000;
	height: 3178px;
	margin: 0 auto;
}
.head{
	height: 43px;
	background: #ac244a;
	position: relative;
}
#logo img{width: 167px;height:28px; display: block;margin: 0 auto;padding-top: 7px;}
.nav img{position: absolute;display: block;width:48px;height: 43px; }
.search img{position: absolute;right: 0;top:0px;display: block;width:48px;height: 43px; }
.banner img{height: 241px;vertical-align:bottom;width: 100%;}
.mainBody01{background: url(image/mainBody01bg.jpg) repeat-x;height: 289px;position: relative;}
.nurselist{width: 320px;height:66px; position: relative;color: #fff;font-size: 12px;}
.nurselist li{height:66px;float: left;width: 54px;}
.nurselist .li1{background: url(image/nursebg1.jpg) no-repeat;background-size:54px 66px; position: absolute;left: 17px;top: 58px;}
.li1 p{position: absolute;left: 15px;top: 52px;width: 62px;font-size: 12px;}
.li1 p span{font-size: 12px;}
.nurselist .li2{background: url(image/nursebg2.jpg) no-repeat;background-size: 54px 66px;position: absolute;left: 75px;top: 58px;}
.li2 p{position: absolute;left: 15px;top: 52px;width: 62px;font-size: 12px;}
.li2 p span{font-size: 12px;}
.nurselist .li3{background: url(image/nursebg3.jpg) no-repeat;background-size: 54px 66px;position: absolute;left: 133px;top: 58px;}
.li3 p{position: absolute;left: 15px;top: 52px;width: 62px;font-size: 12px;}
.li3 p span{font-size: 12px;}
.nurselist .li4{background: url(image/nursebg4.jpg) no-repeat;background-size: 54px 66px;position: absolute;left: 191px;top: 58px;}
.li4 p{position: absolute;left: 15px;top: 52px;width: 62px;font-size: 12px;}
.li4 p span{font-size: 12px;}
.nurselist .li5{background: url(image/nursebg5.jpg) no-repeat;background-size: 54px 66px;position: absolute;right: 17px;top: 58px;}
.li5 p{position: absolute;left: 15px;top: 52px;width: 62px;font-size: 12px;}
.li5 p span{font-size: 12px;}
.mainBody01 .summary{width: 282px;height: 76px;font-size: 12px;color: #fff;position: absolute;left: 17px;top: 136px; }
.mainBody02{height: 2252px;background: url(image/linebg.jpg) 17px 0 no-repeat #fff;background-size:9px 1127px; }
.mainBody02 .live{width: 286px;height: 209px;position: relative;}
.mainBody02 .ptitle{position: absolute;top: 14px;left: 51px;font-size: 14px;color: #ff4e00;font-weight: bold;width: 260px;}
.live .liveimg{height: 108px;width: 253px;display: block;position: absolute;top: 50px;left: 50px;}
.live .pcontent{color: #333;font-size: 7px;position: absolute;left: 51px;top: 160px;width: 251px;height: 55px;}
.live a img{display: block;width: 30px;height: 28px;position: absolute;left: 17px;top: 10px;}
.live a p{position: absolute;left: 27px;top: 14px;font-size: 30px;color: #fff;font-weight: bold;}
.mainBody02 .guard{width: 286px;height: 209px;position: relative;}
.guard a img{display: block;width: 30px;height: 28px;position: absolute;left: 17px;top: 10px;}
.guard a p{position: absolute;left: 27px;top: 14px;font-size: 30px;color: #fff;font-weight: bold;}
.guard .guardcontent1{width:251px;height:32px; color: #333;font-size: 7px;position: absolute;left: 51px;top:36px;}
.guard .guardimg1,.guard .guardimg2{width:253px; height: 60px;position: absolute;left: 51px;}
.mainBody02 .food{width: 286px;height: 209px;position: relative;}
.guard .guardimg1{top: 70px;}
.guard .guardimg2{top: 134px;}
.guard .guardp1{font-size: 9px;font-weight: bold;position: absolute;left: 146px;top: 76px;}
.guard .guardp2{font-size: 7px;position: absolute;top: 98px;left: 146px;}
.guard .guardp3{font-size: 9px;font-weight: bold;position: absolute;left: 146px;top: 140px;}
.guard .guardp4{font-size: 7px;position: absolute;left: 146px;top: 166px;}
.food a img{display: block;width: 30px;height: 28px;position: absolute;left: 17px;top: 10px;}
.food a p{position: absolute;left: 27px;top: 14px;font-size: 30px;color: #fff;font-weight: bold;}
.food .foodimg1{position: absolute;width:252px;height: 84px; left: 51px;top: 47px;}
.food p{font-size: 7px;width: 251px;height: 45px;position: absolute;left: 51px;top: 140px;}
.mainBody02 .raise{width: 286px;height: 209px;position: relative;}
.raise a img{display: block;width: 30px;height: 28px;position: absolute;left: 17px;top: 10px;}
.raise a p{position: absolute;left: 27px;top: 14px;font-size: 30px;color: #fff;font-weight: bold;}
.raise .raiseimg1{width:253px;height: 210px;position: absolute;left: 51px; }
.mainBody02 .doctor{width: 286px;height: 209px;position: relative;}
.doctor a img{display: block;width: 30px;height: 28px;position: absolute;left: 17px;top: 10px;}
.doctor a p{position: absolute;left: 27px;top: 14px;font-size: 30px;color: #fff;font-weight: bold;}
